<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>Online Library</title>
</head>

<body>
<div style="text-align: center;">Welcome to the Library</div>
<a th:href="@{/addWriter}" id="addWriter">Add writer</a>
<a th:href="@{/showWriters}" id="showWriters">Show writers</a>
<!--<form style="text-align: center" action="" method="get">-->
<!--    <input name="s" placeholder="Type..." type="search">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->
<!--<img th:src="@{/images/books.png}"/>-->
</body>
</html>