<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>Online Library</title>
</head>

<body>
<div style="text-align: center;">Manage writers</div>
<a th:href="@{/}" id="main">Go to the main page</a><br/>
<a th:href="@{/addWriter}" id="addWriter">Add a writer</a><br/>
<a th:href="@{/showWriter}" id="showWriter">Show writers</a><br/>
<!--<a th:href="@{/updateWriter}" id="updateWriter">Update writers</a><br/>-->

<!--<form style="text-align: center" action="" method="get">-->
<!--    <input name="s" placeholder="Type..." type="search">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->
<!--<img th:src="@{/images/books.png}"/>-->
</body>
</html>