<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>Online Library</title>
</head>

<body>
<a th:href="@{/}" id="main">Go to the main page</a><br/>
<form>
    <p><input type="search" name="q" placeholder="Search for a book">
        <input type="submit" value="Search"></p>
</form>
<!--<form style="text-align: center" action="" method="get">-->
<!--    <input name="s" placeholder="Type..." type="search">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->
<!--<img th:src="@{/images/books.png}"/>-->
</body>
</html>